html {
    /*Copy from [Hux 黄玄's Github](https://github.com/Huxpro/huxpro.github.io)*/
    font-family: -apple-system, -apple-system-font, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
body {
    background: #333;
}

.tip-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .42);
    -webkit-backdrop-filter: blur(30px);
}

noscript.tip-overlay {
    display: block;
}

.tip-container {
    color: #ffffff;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    padding: 0em 1em;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: relative;
    top: 30%;
}

.tip-container a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #08C;
    color: #08C;
}

.tip-container a + a {
    margin-left: 2em;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 414px;
    min-width: 320px;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #aaa;
}

.wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    height: 120%;
    width: 120%;
    top: -10%;
    left: -10%;
    z-index: 0;
    background: url("../others/Like%20I%20Used%20To.jpg") no-repeat 50% 50%;
    background-size: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.lyric-controller {
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.42); 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.42);
}

.lyric-controller-inner {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 0;
}

.lyric-info {
    background-color: rgba(255,255,255,0.42);
    -webkit-backdrop-filter: blur(15px);
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.lyric-albumart {
    height: 80px;
    width: 80px;
    background-color: red;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    margin-right: 1em;
    background: url("../others/Like%20I%20Used%20To.jpg") no-repeat 50% 50%;
    background-size: contain;
}

.music-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
}

.lyric-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.lyric-author {
    margin: 0;
    font-size: 22px;
    font-weight: 300;
    color: #eee;
}


.lyric-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    text-align: center;
}

.lyric-text > p {
    position: absolute;
    top: 50%;
    width: 100%;
    opacity: 0;
    will-change: transform, opacity;
}

.lyric-text > p.currentLrc {
    -webkit-animation-name: moveLrc;
            animation-name: moveLrc;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes moveLrc {
    0%   { -webkit-transform: translateY(18vh); transform: translateY(18vh); opacity: 0;}
    30%  { opacity: 1;}
    70%  { opacity: 1;}
    100% { -webkit-transform: translateY(-30vh); transform: translateY(-30vh); opacity: 0;}
}

@keyframes moveLrc {
    0%   { -webkit-transform: translateY(18vh); transform: translateY(18vh); opacity: 0;}
    30%  { opacity: 1;}
    70%  { opacity: 1;}
    100% { -webkit-transform: translateY(-30vh); transform: translateY(-30vh); opacity: 0;}
}

/* TEMP */
.audio-source {
    width: 100%;
    height: 73px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    background-color: rgba(255,255,255,0.42);
    -webkit-backdrop-filter: blur(15px);
    position: relative;
    z-index: 100;
}